<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About This Site</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="experiment-page">

    <div class="experiment-message">
        <h1>About This Launcher</h1>
        <p>This platform lets users run local cognitive experiments for research and educational purposes.<br>
        More experiments will be added soon!</p>
        <a href="/" class="back-button">← Return Home</a>
    </div>

</body>
</html>
